<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<string>2016年春季韩范版新款简约纯色宽松百搭休闲立领长袖棉衬衫女衬衣</string>
		<key>img</key>
		<string>c1</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016夏季新款韩版中长款印花衬衫长裙连衣裙女系带修身A字裙女装</string>
		<key>img</key>
		<string>c2</string>
		<key>price</key>
		<string>¥79</string>
		<key>bao</key>
		<false/>
	</dict>
	<dict>
		<key>h</key>
		<string>文艺风大口袋纯色百搭短袖衬衫女夏季蝙蝠袖宽松宽版开衫衬衣上衣</string>
		<key>img</key>
		<string>c3</string>
		<key>price</key>
		<string>¥195</string>
		<key>bao</key>
		<false/>
	</dict>
	<dict>
		<key>h</key>
		<string>新款牛仔外套女夏薄上衣衬衫沙滩裙外搭开衫短袖款牛仔小披肩防晒</string>
		<key>img</key>
		<string>c4</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>雪纺职业ol衬衫2016春装新款韩版亚麻衬衣打底学院风女装百搭宽松</string>
		<key>img</key>
		<string>c5</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>本凡印象夏季韩版新品纯色休闲短袖藏青色白色衬衫衬衣女装上衣女</string>
		<key>img</key>
		<string>c6</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>ZARA 女装 双口袋饰条纹罩衫 </string>
		<key>img</key>
		<string>c7</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016夏季新款纯棉格子衬衫女短袖韩版修身全棉潮上衣衬衣大码女装</string>
		<key>img</key>
		<string>c8</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<false/>
	</dict>
	<dict>
		<key>h</key>
		<string>欧美街拍时尚博主同款白色DION LEE个性露肩棉衬衫时尚博主都在穿</string>
		<key>img</key>
		<string>c9</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>sukee素几 无印双层棉纱文艺禅意彼得潘元宝小圆领短袖衬衫良品</string>
		<key>img</key>
		<string>d10</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>欧美街拍时尚博主同款白色DION LEE</string>
		<key>img</key>
		<string>c11</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>新款夏季女装大码衬衣短袖白衬衫韩范学院风V领上衣学生宽松寸衫</string>
		<key>img</key>
		<string>c12</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016韩国chic新品宽松显瘦条纹衬衣女气质V领落肩长袖套头上衣K22</string>
		<key>img</key>
		<string>c13</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<false/>
	</dict>
</array>
</plist>
