<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<string>夏季新款棉麻休闲裤宽松阔腿短裤女夏高腰亚麻热裤大码胖mm韩版</string>
		<key>img</key>
		<string>e1</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>波司登夏女安全裤防走光裤莫代尔显瘦弹力三分裤五分裤打底短裤薄</string>
		<key>img</key>
		<string>e2</string>
		<key>price</key>
		<string>¥79</string>
		<key>bao</key>
		<false/>
	</dict>
	<dict>
		<key>h</key>
		<string>夏季新款热裤大码宽松深蓝色牛仔短裤女韩版潮显瘦破洞开叉休闲</string>
		<key>img</key>
		<string>e3</string>
		<key>price</key>
		<string>¥195</string>
		<key>bao</key>
		<false/>
	</dict>
	<dict>
		<key>h</key>
		<string>[聚用券满400减40]ONLY春夏新品修身高腰牛仔短裤女|116143001</string>
		<key>img</key>
		<string>e4</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>Amii艾米女装 2016夏装新款旗舰店磨破毛边高腰牛仔短裤女热裤潮</string>
		<key>img</key>
		<string>e5</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>破洞牛仔短裤女夏哈伦裤高腰宽松大码显瘦胖mmbf四分阔腿直筒热裤</string>
		<key>img</key>
		<string>e6</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>幽灵舞步松紧腰牛仔短裤女夏2016破洞大码宽松卷边排扣牛仔热裤薄</string>
		<key>img</key>
		<string>e7</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>大码胖MM牛仔短裤女宽松显瘦阔腿夏季松紧腰印花做旧热裤日系森女</string>
		<key>img</key>
		<string>e8</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<false/>
	</dict>
	<dict>
		<key>h</key>
		<string>花衫集原创设计女装品牌_英伦复古花裙裤短裤阔腿裤春夏A字热裤</string>
		<key>img</key>
		<string>e9</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016年新款胖mm大码牛仔短裤 宽松韩版棉弹裤翻边 高腰薄款 夏女</string>
		<key>img</key>
		<string>e10</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>韩版大码白色牛仔短裤女夏季修身显瘦学生宽松高腰阔腿a字热裤潮</string>
		<key>img</key>
		<string>e11</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>女士运动短裤女夏季休闲裤学生修身跑步百搭韩版黑色大码外穿宽松</string>
		<key>img</key>
		<string>e12</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>韩国学生时尚宽松卷边吊带短裤女学院减龄背带裤破洞阔腿牛仔裤女</string>
		<key>img</key>
		<string>e13</string>
		<key>price</key>
		<string>¥119</string>
		<key>bao</key>
		<false/>
	</dict>
</array>
</plist>
