<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<string>ONLY2016春夏新品纯棉立体图案字母宽松T恤上衣女T|116101034</string>
		<key>img</key>
		<string>s1</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>Amii[极简主义]2016春夏季V领纯色修身短袖T恤女装大码上衣打底衫</string>
		<key>img</key>
		<string>s2</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>情侣装夏装连衣裙2016新款韩版时尚夏季女裙中长款短袖T恤上衣潮</string>
		<key>img</key>
		<string>s3</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016年夏款女装短袖t恤上衣 性感一字领露肩/露背修身纯色打底衫</string>
		<key>img</key>
		<string>s4</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>绿疏-汉初原创复古交领雪纺上衣2016春夏款
绿疏-汉初原创复古中国风手绘日常汉服女交领雪纺上衣2016春夏款
绿疏-汉初原创复古中国风手绘日常汉服女交领雪纺上衣2016春夏款
</string>
		<key>img</key>
		<string>s5</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016春装女装新款韩版V领显瘦七分袖打底衫上衣中长款宽松套头T恤</string>
		<key>img</key>
		<string>s6</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>七格格百搭中长款宽松蝙蝠衫漏肩流苏上衣 露肩短袖t恤体恤女夏装</string>
		<key>img</key>
		<string>s7</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016夏季新款时尚大码中长款时尚上衣打底衫短袖修身t恤女装显瘦</string>
		<key>img</key>
		<string>s8</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>玉兔跃玄海复古日系和风浴衣外套日式少女夏日祭短款上衣和服外套</string>
		<key>img</key>
		<string>s9</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>夏季女装圆领上衣服宽松棉t恤女短袖韩版学生中长款体恤衫打底潮</string>
		<key>img</key>
		<string>s10</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>2016夏季新款 韩版宽松显瘦圆领女装彩色字母白色休闲学生T恤上衣</string>
		<key>img</key>
		<string>s11</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
	<dict>
		<key>h</key>
		<string>T恤女夏新款韩版宽松卡通短袖体恤上衣服韩国百搭学生闺蜜姐妹装</string>
		<key>img</key>
		<string>s12</string>
		<key>price</key>
		<string>¥169</string>
		<key>bao</key>
		<true/>
	</dict>
</array>
</plist>
